@model Activity3.Models.BibleVerse

@{
    ViewBag.Title = "SearchVerseResult";
}

<h2>Search found a result!</h2>

<div>
    <h4>Bible Verse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TestamentSelection)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TestamentSelection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookSelection)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookSelection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChapterNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChapterNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VerseNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VerseNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VerseText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VerseText)
        </dd>

    </dl>
</div>

